:root {
  --colorBlue: #3D5A80;
  --colorLightBlue: #98C1D9;
  --colorAqua: #E0FBFC;
  --colorOrange: #EE6C4D;
  --colorDarkBlue: #293241;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--colorAqua);
}